
/* setting whole page's margin and padding to 0 for smooth navigation bar*/
*, html {
    margin: 0;
    padding: 0;
}

/* NAVIGATION BAR */

.nav-bar {
    /* Remove bullets, margin and padding from list element. Source: W3 Schools */
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    /*formatting*/
    background-color: #51604B;
    display: flex;
}

.nav-bar li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

.nav-bar li a:hover {
    background-color: #3A4237;
}


/* Log in title text */
.title {
    font-size: 32px;
    font-weight: bold; 
    
    color: #D6D2B5;
    text-align: center;
    margin-top: 7%;
}

.subtitle {
    font-size: 20px;
    
    color: #D6D2B5;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}


body {
    background-color: #49443E;
}

.box {
    background-color: #51604B;
    height: auto;
    width: 300px;
    text-align: left;
    margin: auto;
    padding-top: 10px;
    border-radius: 12px;
    padding-bottom: 30px;
}

.box p {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: white;
}

#info-text {
    color:#D6D2B5;

    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
}

.box input {
    margin-left: 20px;
    height: 25px;
    width: 250px;
}


#submit-button {
    font-size: 30px;
    font-weight: bold;
    
    margin-left: 90px;
    margin-top: 15px;
    height: 50px;
    width: 120px;

    background-color: #94AE89;
    color: white;
    border-width: 0px;
    border-radius: 10px;
}

#submit-button:hover {
    cursor: pointer;
    
    background-color: #778c6d;
    border-width:  2px;
    border-color: white;
}