<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Article Overview</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../../../../static/resources/articles/articleOverview.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700&display=swap" rel="stylesheet">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <script src="../../../static/reusable/custom-header.js"></script>
</head>

<body>
    <header>
        <custom-header></custom-header>
    </header>

    <main>

        <section class="articleoverview">
            <h2>Articles</h2>
            <div class="cardoverview-grid"></div>
                <a href='/articles' class="cardoverview">
                    <h3>What classifies as violence?</h3>
                    <p class="subtitle">Read about different forms of violence here.</p>                       
                </a>
            </div>
        </section>

    </main>
</body>
</html>