<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>P7 Project</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;700&display=swap" rel="stylesheet">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
    />
    <script src="../../static/reusable/custom-header.js"></script>
</head>

<body>
    <header>
        <custom-header></custom-header>
    </header>
    
    <main>
    
    </main>

    <body>
        <section class="resourcelist">
            <h1>Resources</h1>
            <h2 id="title">Where to get help</h2>
        <p class="header">Police</p>
            <p class="text">Call 112 in case of an emergency - for example, if you are in immediate danger to your life or safety.
            <p class="text">For less urgent situations, where the perpetrator is no longer present, call 114 to report violence or threats.</p>
            <p class="text">You can also go in person to a police station to report the crime.</p>
            <p class="source">Source: politi.dk </p>
        <p class="header">Free lawyer service</p>
            <p class="text">If you need free legal advice, the Duty Lawyer Service offers short consultations with a lawyer.</p>
            <p class="text">You can ask questions about any type of legal issue.</p>
            <p class="text">You may choose to remain anonymous.</p>
            <p class="text">When: Tuesdays from 16:00–18:00 (closed during school holidays and between Christmas and New Year).</p>
            <p class="text">Where: Aalborg Main Library, Rendsburggade 2
            9000 Aalborg - you can draw a number for the queue between 15:30–17:30.</p>
            <p class="text">How: The service is first come, first served and cannot be booked or contacted by phone.</p>
            What: You will receive oral advice only - the lawyer does not prepare documents or handle cases.</p>
            <p class="source">Source: aalborgbibliotekerne.dk</p>
        </section>
    </body>

</html>
